In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
np.set_printoptions(suppress=True)

In [3]:
data = pd.read_csv("Housing.csv") 
# Preview the first 5 lines of the loaded data 
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [4]:
data.shape

(505, 14)

In [5]:
samples = np.array(data)
np.random.shuffle(samples)
samples_full = sample

In [6]:
print(samples[101:])
print(len(samples))

[[  6.96215   0.       18.1     ... 394.43     17.11     15.1    ]
 [  6.44405   0.       18.1     ...  97.95     12.03     16.1    ]
 [ 25.9406    0.       18.1     ... 127.36     26.64     10.4    ]
 ...
 [ 14.2362    0.       18.1     ... 396.9      20.32      7.2    ]
 [  4.64689   0.       18.1     ... 374.68     11.66     29.8    ]
 [  2.63548   0.        9.9     ... 350.45     12.64     16.1    ]]
505

In [96]:
i = 0
k = 5
X_valid = samples[i*len(samples)//k:(i+1)*len(samples)//k,:-1]
Y_valid = samples[:len(samples)//k,-1:]
leftover = np.delete(samples, np.s_[i*len(samples)//k:(i+1)*len(samples)//k:1], 0)
X_train = leftover [:,:-1]
Y_train = leftover [:,-1]

print(samples.shape)

(505, 14)

In [44]:
print(X_train.shape)
print(X_valid.shape)
print(X_train)
Y_train.shape

(404, 13)
(101, 13)
[[  6.96215   0.       18.1     ...  20.2     394.43     17.11   ]
 [  6.44405   0.       18.1     ...  20.2      97.95     12.03   ]
 [ 25.9406    0.       18.1     ...  20.2     127.36     26.64   ]
 ...
 [ 14.2362    0.       18.1     ...  20.2     396.9      20.32   ]
 [  4.64689   0.       18.1     ...  20.2     374.68     11.66   ]
 [  2.63548   0.        9.9     ...  18.4     350.45     12.64   ]]

(404,)

In [45]:
X_train_mean = np.mean(X_train, axis=0)
Y_train_mean = np.mean(Y_train, axis=0)
print(X_train_mean )
print(Y_train_mean )

[  3.49975384  11.47277228  11.00527228   0.07178218   0.55454901
   6.29457673  68.63217822   3.78869183   9.5        407.24257426
  18.41460396 359.48826733  12.58141089]
22.871287128712872

In [49]:
Y_train_mean

22.871287128712872

In [50]:
X_train_reduced = X_train - np.tile(X_train_mean,(len(X_train),1))
Y_train_reduced = Y_train - np.tile(Y_train_mean,(len(Y_train)))
print(X_train_reduced )
print(Y_train_reduced.shape )

[[   3.46239616  -11.47277228    7.09472772 ...    1.78539604
    34.94173267    4.52858911]
 [   2.94429616  -11.47277228    7.09472772 ...    1.78539604
  -261.53826733   -0.55141089]
 [  22.44084616  -11.47277228    7.09472772 ...    1.78539604
  -232.12826733   14.05858911]
 ...
 [  10.73644616  -11.47277228    7.09472772 ...    1.78539604
    37.41173267    7.73858911]
 [   1.14713616  -11.47277228    7.09472772 ...    1.78539604
    15.19173267   -0.92141089]
 [  -0.86427384  -11.47277228   -1.10527228 ...   -0.01460396
    -9.03826733    0.05858911]]
(404,)

In [63]:
lamda = 6
product_0 = X_train_reduced.T @ X_train_reduced  
product_1 = lamda * np.eye(len(product_0))
W = np.linalg.inv(product_0 + product_1)@ X_train_reduced.T @ Y_train_reduced
residue = -X_train_mean@W + Y_train_mean

print(residue.shape)
print(Y_train_mean.shape)
print(W.shape)
print((X_valid@W).shape)
print(Y_valid.shape)

()
()
(13,)
(101,)
(101, 1)

In [95]:
mse_k = ((Y_valid.T - (X_valid@W + residue))**2).mean(axis=1)
print(mse_k)

[16.5676392]

In [105]:
data_X = pd.read_csv("IRISFeat.csv",header = None) 
data_y = pd.read_csv("IRISlabel.csv",header = None)
# Preview the first 5 lines of the loaded data 
print(data_X.head())
print(data_y.head())
print(data_y.shape)
print(np.sum(data_y))

     0    1
0  5.1  3.5
1  4.9  3.0
2  4.7  3.2
3  4.6  3.1
4  5.0  3.6
   0
0  0
1  0
2  0
3  0
4  0
(150, 1)
0    100
dtype: int64

In [103]:
#initial the w 
W0 = np.ones((2,1))
print(W0)

[[1.]
 [1.]]

In [ ]:
for i in len(data_X):
    for j in len(W0):
        W0[j] =