In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
np.set_printoptions(suppress=True)

In [2]:
data = pd.read_csv("Housing.csv") 
# Preview the first 5 lines of the loaded data 
data.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,PRICE
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [3]:
data.shape

(505, 14)

In [4]:
samples = np.array(data)
np.random.shuffle(samples)

In [40]:
print(samples[101:])
print(len(samples))

[[  0.2896    0.        9.69    ... 396.9      21.14     19.7    ]
 [ 15.1772    0.       18.1     ...   9.32     26.45      8.7    ]
 [  0.44791   0.        6.2     ... 360.2       8.05     29.     ]
 ...
 [  5.58107   0.       18.1     ... 100.19     16.22     14.3    ]
 [  0.04462  25.        4.86    ... 395.63      7.22     23.9    ]
 [  0.38735   0.       25.65    ... 359.29     27.26     15.7    ]]
505

In [20]:
k= 5
X_valid = samples[:len(samples)//k,:-1]
X_train = samples[len(samples)//k:,:-1]
Y_valid = samples[:len(samples)//k,-1:]
Y_train = samples[len(samples)//k:,-1:]

In [21]:
X_train.shape
Y_train.shap

(404, 1)

In [34]:
X_train_mean = np.mean(X_train, axis=0)
Y_train_mean = np.mean(Y_train, axis=0)
print(X_train_mean )
print(Y_train_mean )

[  3.64107671  12.0779703   11.10477723   0.07178218   0.55381114
   6.29104208  68.17970297   3.81165842   9.71782178 411.17326733
  18.42846535 358.3684901   12.8310396 ]
[22.65717822]

In [41]:
X_train_reduced = X_train - np.tile(X_train_mean,(len(X_train),1))
Y_train_reduced = Y_train - np.tile(Y_train_mean,(len(Y_train),1))
print(X_train_reduced )
#print(Y_train_reduced )

[[  -3.35147671  -12.0779703    -1.41477723 ...    0.77153465
    38.5315099     8.3089604 ]
 [  11.53612329  -12.0779703     6.99522277 ...    1.77153465
  -349.0484901    13.6189604 ]
 [  -3.19316671  -12.0779703    -4.90477723 ...   -1.02846535
     1.8315099    -4.7810396 ]
 ...
 [   1.93999329  -12.0779703     6.99522277 ...    1.77153465
  -258.1784901     3.3889604 ]
 [  -3.59645671   12.9220297    -6.24477723 ...    0.57153465
    37.2615099    -5.6110396 ]
 [  -3.25372671  -12.0779703    14.54522277 ...    0.67153465
     0.9215099    14.4289604 ]]

In [42]:
lamda
product_0 = X_train_reduced.T @ X_train_reduced  
product_1 = lamda * np.eye(len(product_0))
W = np.linalg.inv(product_0 + product_1)@ X_train_reduced.T @ Y_train_reduced
residue = np.tile(X_train_mean,(len(X_train),1))